<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produkty</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
    <h1>Co chcesz wyświetlić?</h1>
    <nav class="navi">
        <ul>
            <li>
                <a href="/list">Wszystkie dostępne produkty</a>
            </li>
            <li>
                <a href="/list?kategoria=FOOD">Artykuły spożywcze</a>
            </li>
            <li>
                <a href="/list?kategoria=HOME">Arykuły domowe</a>
            </li>
            <li>
                <a href="/list?kategoria=OTHER">Inne</a>
            </li>
        </ul>
    </nav>
    <p class="newProduct">
        <a href="/add">Dodaj nowy produkt</a>
    </p>
</body>
</html>